    <div class="row" id="main-container">
      <div class="col-sm" style="background-color: aqua;">
        <a href="#" class="btn btn-primary" id="show-lobby-btn">Back to lobby</a>
        games
      </div>
      <div class="col-10">
        <div class="row" id="lobby">
          <div class="col-10" style="background-color: burlywood;">
            chat
          </div>
          <div class="col-2" style="background-color: darkolivegreen;">
            players
          </div>
        </div>
        <div class="row" id="game" style="display: none;">
          <div class="col" style="background-color: darkkhaki;">board</div>
          <div class="col" style="background-color: deepskyblue;">chat</div>
        </div>
      </div>
    </div>