<%- include('partials/head'); -%>
  <title>Chesspiece</title>
</head>
<body>
  <%- include('partials/navbar'); -%>
  <main class="clearfix">
    <div class="container">
      <legend>Activate account</legend>
      <div class="form-group">
        <div class="alert" id="activate-message"></div>
      </div>
    </div>
  </main>
  <%- include('partials/scripts'); -%>
  <script src="/js/activate.js"></script>
</body>
</html>