<%- include('partials/head'); -%>
  <title>Node.js Mandatory 2</title>
</head>
<body>
  <%- include('partials/navbar'); -%>
  <main>
    
  </main>
  <%- include('partials/scripts'); -%>
</body>
</html>