body, html {
  height: 100%;
  width: 100%;
}

body {
  padding-top: 8em;
}

main {
  height: 100%;
}

#main-container {
  width: 100.8%;
  height: 100%;
}

#show-lobby-btn {
  width: 100%;
}

#lobby {
  height: 100%;
}

#game {
  height: 100%;
}