<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js Mandatory 2</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <% if (user) { %>
        <li><a href="/chat">Chat</a></li>
        <% if (user.role === 'ADMIN') { %>
          <li><a href="/admin">Administration</a></li>
        <% } %>
        <li id="filler"></li>
        <li id="nav-username">Logged in as: <%= user.username %></li>
        <li><a href="#" id="logoutNav">Logout</a></li>
      <% } %>
      <% if (user === undefined) { %>
        <li><a href="#" id="loginNav">Login</a></li>
      <% } %>
    </ul>
    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close" id="loginClose">&times;</span>
        <span id="loginMessage"></span>
        <div class="form-elem">
          <label for="username">Username:</label>
          <input type="text" id="username">
        </div>
        <div class="form-elem">
          <label for="password">Password:</label>
          <input type="password" id="password">
        </div>
        <div class="form-elem">
          <button id="loginSubmit">Login</button>
        </div>
        <div class="form-elem">
          <a href="#" id="resetLink">Forgot password?</a>
        </div>
        <div class="form-elem">
          New user? <a href="/signup">Signup</a>
        </div>
      </div>
    </div>
    <div id="resetModal" class="modal">
      <div class="modal-content">
        <span class="close" id="resetClose">&times;</span>
        <span id="resetMessage"></span>
        <div class="form-elem">
          <label for="resetUsername">Username:</label>
          <input type="text" id="resetUsername">
        </div>
        <div class="form-elem">
          <label for="resetEmail">Email:</label>
          <input type="text" id="resetEmail">
        </div>
        <div class="form-elem">
          <button id="resetSubmit">Reset password</button>
        </div>
        <div class="form-elem">
          <a href="#" id="loginLink">Login</a>
        </div>
      </div>
    </div>
  </nav>
  <main>